@import '~antd/es/style/themes/default.less';

.main {
  width: 418px;
  // margin: 0 auto;
  margin-left: 60px;

  .logo {
    width: 142px;
    height: 70px;
    margin-top: 120px;
  }

  .form_con {
    margin-top: 80px;
  }


  @media screen and (max-width: @screen-sm) {
    width: 95%;
  }

  .icon {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.2);
    font-size: 24px;
    vertical-align: middle;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
  }

  .other {
    margin-top: 24px;
    line-height: 22px;
    text-align: left;

    .register {
      float: right;
    }
  }

  :global {
    .antd-pro-login-submit {
      width: 100%;
      margin-top: 24px;
    }

    .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
      display: none;
    }



    .ant-input {
      border: none;
      border-bottom: 1px solid #C9CACA;
      height: 60px
    }

    .ant-form-item-label>label {
      font-size: 18px;
      color: #4C4948;
      font-weight: 500;
    }

    .ant-form-item {
      margin-bottom: 40px;
    }

    .ant-form-vertical .ant-form-item-label,
    .ant-col-24.ant-form-item-label,
    .ant-col-xl-24.ant-form-item-label {
      padding: 0;
    }
  }
}
